/* Bottom children */
.roulette-pro-graceful-lines-design-bottom-line {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 408px;
  height: 80px;
  background-image: url("../../images/graceful-lines-design-bottom.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  z-index: 2;
}

.roulette-pro-graceful-lines-design-bottom-left-line, .roulette-pro-graceful-lines-design-bottom-right-line {
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 480px;
  height: 7px;
  background-image: url("../../images/graceful-lines-design-side-line.png");
  background-position: right center;
  background-repeat: no-repeat;
}

.roulette-pro-graceful-lines-design-bottom-left-line {
  right: 50%;
  left: auto;
  margin-right: 199px;
}

.roulette-pro-graceful-lines-design-bottom-right-line {
  left: 50%;
  bottom: 0;
  margin-left: 199px;
  transform: rotate(180deg);
}